ion-thumbnail {
    --border-radius: 8px;
}

#ctaBlock {
    text-align: center;
    padding: 2.8em;
}

#notesList ion-item {
  cursor: pointer;
}

@media(min-width: 1200px) {
  #notesList {
    margin-left: 20vw;
    margin-right: 20vw;
    margin-top: 2em;
    border-radius: 12px;
  }
}